html {
font-family: "arial";
    font-size:16px;
    line-height: 1.5;
}

}
a{
    transition: 0,2s ease-out;
}
.row:after{
    clear: both;
    content: "";
    display: table;
    
}
.k{
    width: 380px;
    margin-right: 150px;
    float: left;
    
}
.header5{
    background:pink;
    background-image: url("../img/bg/ozero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 50vh;
    color:beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__title{
    font-size: 56px;  
}

/*------body*/
.cont{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    
}
.col{
    width: 350px;
    margin-right: 30px;
    float:left;
    
}
.col:last-child{
    margin-right: 2px;
    
}
.title{
    font-size: 46px;
    margin-bottom: 60px;
    font-family: fantasy;
    text-align: center;
}
.portfolio__img{
    margin-bottom: 17px;
/*    border: 2px solid   ;*/
    
}
.portfolio__titel{
    font-size: 24px;
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px solid;
   /* border-color: aqua;*/
    
}
.portfolio__text{
    font-size: 16px;
}
    


